@{
    ViewBag.Title = "About me";
}

<hgroup class="title">
    <h1 class="text-center">About me</h1>
</hgroup>
</br >
<div class="row">
    <div class ="col-md-7">
        <p class ="lead">
            Background
        </p>

        <p>
            My name is Jonathan Wilson, I am a software developer and I am 25 years old.
            I have enjoyed programming ever since I was introduced to it three years ago,
            and I am confident that through programming, I have really struck on something
            that I feel is both fulfilling and intellectually stimulating. 
        </p>
        <p>
             My hopes are
            high that this is the career I will enjoy from now until my fingers no longer work,
            and who knows...perhaps not even that will stop us with how technology is progressing!
        </p>

        </br >

        <p class ="lead">
            Education
        </p>

        <p>
            I am currently attending Northern Illinois University as a senior.  I have chosen the
            software development path of the computer science program, and will be graduating with my
            B.S. in Computer Science in May 2014.  However, do to an excellent opportunity afforded to
            me by NIU, I will be available for full time employment starting this December, and will have
            fulfilled my degree requirements by solely working in a full time position to earn my last three
            program elective credits.  This means while I do not yet have my diploma, I am essentially a graduate
            for all intents and purposes.
        
        </p>

        </br >

        <p class ="lead">
            Experience
        </p>

        <p>
            My experience as a developer has its roots in my education at NIU, but has been supplemented by both
            my propensity for independent study, and with the aid of an internship under my brother at
            Illinois Custom Software.  
        </p>

        <p>
            If your looking for someone who has functional ability in C#,
            relational databases, object oriented programmaing, and now web design; then your in the right place!
            With my enthusiasm for picking up new technologies and skills, and your organization's structure
            and support, I know that I can prove to be a valuable asset that helps achieve company goals and promote
            growth and success among my clients and co-workers.

        </p>

        </div>


<div class="col-md-3"></div>
<aside class ="pull-right">
    <h3>Imporant Links</h3>
    <p>
        Feel free to check out some of my code on Github , or add me on Linkedin.
    </p>
    <ul>
        <li><a href="http:www.github.com/jonjw19">My Github account</a></li>
        <li><a href="http:www.linkedin.com/pub/jonathan-wilson/47/794/397/">My Linkedin profile</a></li>
    </ul>
</aside>
</div>
