@{
    ViewBag.Title = "Contact";
}

<div class="title row">
    <div class="col-md-offset-5">
    <h1 class=>Let's talk soon.</h1>
    </div>
    @*<h2>@ViewBag.Message</h2>*@
    <br />
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-4">
    <h2>Phone</h2>
    <p>Main:(815)-980-4541</p>
    <p>Cell:(815)-980-4541</p>
    </div>

<div class="col-md-2">
    <h2>Email</h2>
    <p>Main:<a href="mailto:jonjw@gmail.com">jonjw19@gmail.com</a></p>
    <p>School:<a href="mailto:z1612637@students.niu.edu">z1612637@students.niu.edu</a></p>
 </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-4">
    <h2 class="text-center">Social Media Accounts</h2>
    <ul class="col-md-offset-3">
        <iframe src="http://githubbadge.appspot.com/jonjw19" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
        <a href="http://www.linkedin.com/in/jonwilsonprogrammer">
       <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Jonathan Wilson's profile on LinkedIn"></a>
       
    </ul> 
    </div>
</div>


