@{
    ViewBag.Title = "Welcome!";
}
  <div class="jumbotron">
    <div class="container">
      <h1>@ViewBag.Title</h1>
      <h2>@ViewBag.Message</h2>
          <p>
          My name is Jon and this is my new personal webpage, feel free to take a look around. 
          Here you can learn more about who I am as a software developer, 
          and what I can offer you as an employee.
          <p>
          <p>Make sure to stop by my about page for my background, education information, and more...</p>
         
          <a href ="/Home/About" class ="btn btn-primary btn-large">
            Take me there!
          </a>
          </p>
    </div>
  </div>


<div class="row">
  <div class="span5 offset2">
    <h2 class="text-center">Want the source code for this site, or perhaps a copy of my resume?</h2>
        <p class="text-center">
            I will be happy to send it, and any other code samples I have laying around too, just pop me
            an <a href="mailto:jonjw19@gmail.com">email</a>.
        </p>
  </div>
</div>
  